@import 'base/normalize';
@import 'base/fonts';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/ion-rangeslider/css/ion.rangeSlider.scss';
@import 'base/formstyler.scss';
@import 'base/formstyler.theme.scss';
@import '../../node_modules/rateyo/src/jquery.rateyo.less';


html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p {
    margin: 0;
}

body {
   color: #2F3035; 
   font-family: 'SFProDisplay-Regular', sans-serif;
   font-size: 20px;
   line-height: 24px;
   font-weight: 400;
   overflow-x: hidden;
   min-width: 320px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-section {
    margin-bottom: 80px;
}


.header {

    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 122px;
        font-family: 'SFProDisplay-Regular', sans-serif;
        font-weight: 700;
    }

    &__box {
        display: flex;
    }

    &__address {
        margin-right: 60px;
        width: 265px;
        padding-left: 30px;
        position: relative;
        &::before {
            content:'';
            position: absolute;
            background-image: url('../images/address-icon.svg');
            width: 30px;
            height: 30px;
            left: 0;
            top: -8px;
        }
    }

    &__bottom {
        margin-bottom: 80px;
    }   
}

.menu {

    &__item {
        display: inline-block;
    }

    &__item + .menu__item {
        padding-left: 50px;
    }

    &__btn {
        display: none;
    }

}

.menu-mobile {
    
    &__list {
        width: 243px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        transform: translateX(-100%);
        transition: all .3s linear;
        position: absolute;
        z-index: 10;
        background-color: #fff;
        &--active {
            transform: translateX(0); 
        }
    }

    &__item {
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    &__link {
        display: block;
        padding-left: 53px;
        padding-top: 36px;
    }

    &__img {
        position: absolute;
        left: 11px;
        bottom: 0;
    }
}

.menu__mobile-linewrapper {
    display: none;
}




.user-list {
    margin-right: 15px;
    display: flex;
    align-items: center;
    &__item {
        padding-right: 10px;
    }
    .cart {
       position: relative; 
    }
    
    .cart__num {
        position: absolute;
        font-family: 'SFProDisplay-Medium', sans-serif;
        color: #fff;
        background-color: #1C62CD;
        font-weight: 500;
        font-size: 10px;
        line-height: 20px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        bottom: -2px;
        right: -13px;
    }
}

.menu-categories {
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 53px;

    &__link {
        transition: all .3s;
        font-weight: 400;
        padding: 15px 0 14px;   
        position: relative;     
        &::before {
            content: '';
            width: 0;
            height: 3px;
            left: auto;
            bottom: -2px;
            position: absolute;
            background-color: #1C62CD;
            transition: all .3s;
            right: 0;
        }
        &:hover  {
            font-family: 'SFProDisplay-Semibold', sans-serif;
            color: #000;
        }
        &:hover::before {
            width: 100%;
            right: auto;
            left: 0;
        }
    }
}

.banner-section {

    &__inner {
        display: flex;
        justify-content: space-between;
        max-height: 400px;
    }

    &__slider {
        max-width: 870px;
    }

    &__slider-img {
        object-fit: cover;
        min-height: 400px;
    }

    &__slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        cursor: pointer;
    }

    &__slider-btnprev {
        left: 20px;    
    }

    &__slider-btnnext {
        right: 20px;
    }   
}

.sale-item {
    width: 265px;
    text-align: center;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__info {
        color: #fff;
        background: #1C62CD;
        padding: 8px 20px;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.1em;
    }

    &__price {
        font-family: 'Barlow', sans-serif;
        text-align: right;        
    }

    &__price-new {
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
        color: #1C62CD;
        margin-right: 6px;
        padding-right: 20px;
        position: relative;
        &::after {
            content: '';
            background-image: url('../images/icons-price.svg');
            position: absolute;
            right: 0;
            top: 8px;
            width: 15px;
            height: 18px;
        }
    }

    &__price-old {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #C4C4C4;
        padding: 2px 5px;
        margin-right: 15px;
        background-image: url('../images/old-line.svg');
        background-repeat: no-repeat;
        position: relative;
        &::after {
            content: '';
            background-image: url('../images/icons-price-old.svg');
            position: absolute;
            right: -10px;
            top: 5px;
            width: 8px;
            height: 10px;
        }
        
    }

    &__img {
        object-fit: contain;
    }

    &__title {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #2F3035;
        margin-bottom: 7px;
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
    }

    &__footer {
        padding: 26px 20px;
        background-color: #F0F0F4;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #2F3035;
        span {
            display: block;
            font-family: 'Barlow', sans-serif;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #1C62CD;
            font-weight: 700;
        }
    }
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    li {
        display: inline-block;
        padding: 0 5px;
    }
    button {
        padding: 0;
        font-size: 0;
        margin: 0;
        width: 11px;
        height: 11px;
        border: 1px solid #fff;
        border-radius: 50%;
        background-color: transparent;        
    }
}

.slick-active li button {
    background-color: #fff;
}

.slick-dots .slick-active button {
    background-color: #fff;
}

.search {

    &__tabs {
        margin-bottom: 25px;
    }

    &__tabs-item {
        padding: 11px 26px 12px;
        &.tab--active {
            border-radius: 5px;
            background-color: #F0F0F4;
            font-weight: 700;
            font-family: 'SFProDisplay-Bold', sans-serif;
        }   
    }

    // &__content-item {
    //     display: none;
    //     &.tabs-content--active {
    //         display: block;
    //     }
    // }

    &__content-form {
        display: flex;
    }

    &__content-input {
        background: #F0F0F4;
        border-radius: 3px;
        border: none;
        padding: 5px 20px;
        font-size: 16px;
        line-height: 19px;
        width: 100%;
        &::placeholder {
            color: #656464;
        }
    }

    &__content-btn {
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #1C62CD;
        border-radius: 3px;
        padding: 17px 41px;
        margin-left: -3px;
        border: none;
    }
}

.categories {

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin-bottom: 30px;
        border: 1px solid #CDCDCD;
        border-radius: 3px;
        width: 370px;
        display: flex;
        padding: 20px 20px 16px;
        justify-content: space-between;
        transition: all .3s;
        &:hover {
            box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
            border-color: transparent;
            .categories__item-title {
                color: #1C62CD;                              
            }
        }
    }

    &__item-info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item-title {
        font-size: 23px;
        line-height: 28px;
        font-weight: 700;
        font-family: 'Barlow', sans-serif;
        transition: all .3s;
    }

    &__item-text {
        font-size: 14px;
        line-height: 17px;
        color: #C4C4C4;
        &::after {
            content: url('../images/link-arrow.svg');
            padding-left: 2px;

        }
    }   
   

    &__item-img {
        text-align: center;
        width: 50%;
        img {
            max-width: 100%;
        }
    }
}

.price {
    font-family: 'Barlow', sans-serif;
    position: relative;;
}

.products {
    margin-bottom: 80px;
    &__title {
        font-family: 'Barlow', sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #2F3035;
        margin-bottom: 25px;
    }

    &__tabs {
        margin-bottom: 25px;
    }

    &__tab {
        padding-bottom: 10px;
    }

    &__tab + .products__tab {
        margin-left: 50px;       
    }

    &__tab.tab--active {
        border-bottom: 2px solid #1C62cd;
        
    }
}

.tabs-content {
    display: none;
}
.tabs-content.tabs-content--active {
    display: block;
}
.product-slider {
    position: relative;
    &__slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        z-index: 5;
        cursor: pointer;  
    }
    &__slider-btnprev {
        left: -40px;    
    }

    &__slider-btnnext {
        right: -40px;
    }   
}

.product-item__wrapper {
    position: relative;
    width: 271px;     
    transition: all .3s;
}

.product-item {
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    transition: all .3s;
    min-height: 400px;
    width: 100%;
    &--sale::before {
        content: 'SALE';
        padding: 8px 15px;
        background-color: #1C62CD;
        position: absolute;
        left: 0;
        top: 0;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.07em;
    }
    &:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        color: #1C62CD;
        border-color: transparent;
    }
    &:hover .product-item__hover-text {
        opacity: 1;
        color: #2F3035;
    }
    &__hover-text {
        padding: 18px 21px;
        background-color: rgba($color: #FFF, $alpha: .9);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        display: inline-block;
        position: absolute;
        top: 30%;
        opacity: 0;
        transition: all .3s;
    }
    &__favorite {
       position: absolute;
       top: 16px;
       right: 19px;
       width: 24px;
       height: 22px;
       background-color: transparent;
       border: none;
       z-index: 5;    
       outline: none;  
       &::before {
           content: '';
           position: absolute;
           width: 24px;
           height: 22px;
           top: 0;
           left: 0; 
           background-image: url('../images/favorite.svg');
       }           
       &--active::before {
           background-image: url('../images/favorite-active.svg');
       }
    }

    &__title {
        font-weight: normal;
        padding: 14px 0 25px;
        font-size: 18;
        line-height: 21px;
    }

    &__price {
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
    }

    &__cart {
        position: absolute;
        width: 60px;
        height: 40px;
        background-color: #1C62CD;
        border-radius: 10px 0 0 0;
        bottom: 0;
        right: 0;
        border: none;
        padding-top: 7px;
        cursor: pointer;
        z-index: 10;
    }    
}

.product__more {
    text-align: center;
    margin: 35px 0 0;
    &-link {
        padding: 16px 43px;
        background: #F0F0F4;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;        

    }
}

.product-item__wrapper.product-item__not-available .product-item__price {
    display: none;
}

.product-item__notify-text {
    display: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #2F3035;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
    display: block;
}

.product-item__wrapper.product-item__not-available .product-item__cart {
    display: none;
}

.product-item__notify-link {
    display: none;
}

.product-item__wrapper.product-item__not-available .product-item__title {
    padding-bottom: 13px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1C62CD;
    
}

.product-item__wrapper.product-item__not-available .product-item__notify-link span {
    border-bottom: 1px solid #1C62CD;
}

.slick-slide img {
    display: inline;
}

.banner {
    margin-bottom: 80px;
}

.footer {
    background-color: #f0f0f4;
    &__top {
        padding-top: 43px;
    }

    &__top-inner {
        display: flex;
        justify-content: space-between;
    }

    &__top-item {
        width: 200px;
    }

    &__social {
       width: 250px;
    }

    &__top-newslatter {
        width: 295px;
        margin-right: 50px;
    }

    &__top-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #2F3035;
    }

    &__bottom {
        padding: 46px 0 22px;
        display: flex;
        justify-content: center;
    }

    &__bottom-link {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #48494D;
        margin: 0 40px;
    }
}

.footer-form {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    &__input {
        padding: 0 12px;
        background-color: #fff;
        border: none;
        font-size: 14px;
        line-height: 17px;
        &::placeholder {
            color: #C4C4C4;
        }
    }
    &__btn {
        text-transform: uppercase;
        padding: 10px 16px;
        border: none;
        background-color: #1C62CD;     
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;     
        font-family: 'SFProDisplay-Semibold', sans-serif;  
    }
}
.footer-list {
    font-size: 14px;
    line-height: 22px;
}
.social-list {
    display: flex;
    align-items: center;
    height: 100%;
    &__item {
        margin-right: 30px;
    }
}

.breadcrumbs {
    margin-bottom: 40px;
  
    &__list-item {
        display: inline-block;
        padding-right: 16px;
        margin-right: 10px;
        position: relative;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        color: #C4C4C4;
        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 5px;
            background-image: url('../images/link-arrow.svg');
            width: 6px;
            height: 9px;            
        }
        &:last-child::after {
            display: none;
        }
    }
}

.catalog {
    margin-bottom: 100px;
    &__title {
        font-weight: 700;
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-size: 30px;
        line-height: 36px;
        color: #2F3035;
        margin-bottom: 26px;
    }

    &__filter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    
    &__filter-items button {
        font-family: 'SFProDisplay-Regular', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #2F3035;
        opacity: 0.7;
        background: #F0F0F4;    
        border-radius: 3px;
        border: none;
        padding: 5px 22px;
        cursor: pointer;
    }

    &__filter-items button + button {
        margin-left: 8px;
    }

    &__filter-btn button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
    }

    &__filter-btn button + button {
        margin-left: 10px;
    }

   
    &__inner {
        display: flex;
    }

    &__inner-aside {
        min-width: 290px;
        margin-right: 10px;
    }

    &__inner-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & .product-item__wrapper {
            margin-bottom: 30px;
        }
    }
}

.product-item__img {
    max-width: 100%;
}

.pagination {
    width: 100%;
    margin-top: 70px;
}
.pagination-list {
    display: flex;
    justify-content: center;
    &__item {
        padding: 6px 12px;
        margin: 0 4px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #C4C4C4;
        border: 2px solid transparent; 
    }
	&__item.active {            
        color:  #1C62CD;
        border: 2px solid #1C62CD;
	}
    &__item a {
        display: block;
    }
}
 
.aside-filter__tabs {
    display: flex;
    justify-content: space-between;
}

.aside-filter__tab {    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;   
    color: #C4C4C4;
    width: 50%;   
    &.tab--active {
        font-family: 'SFProDisplay-Bold', sans-serif;
        color: #2F3035;
        font-weight: 700;
    }
    &.tab--active span {
        display: inline-block;
        border-bottom: 2px solid #1C62CD;
        padding-bottom: 7px;
    }
}

.aside-filter__item-drop {
    margin: 40px 0;
}

.aside-filter__item-title {    
    font-family: 'SFProDisplay-Semibold', sans-serif; 
    font-weight: 600;
    line-height: 10px;
    font-size: 16px;
    padding-left: 26px;
}

.filter__item-drop {
    position: relative;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        background-image: url('../images/arrow-down.svg');
        left: 0;
        bottom: 5px;
        width: 12px;
        height: 8px;
        transform: rotate(0deg);
    }
    &--active::before {
        transform: rotate(180deg);
    }
}

.aside-filter__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.aside-filter__content-box {
    width: 50%;
    margin-bottom: 10px;
}

.aside-filter__content-box {
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.jq-checkbox, .jq-radio {
    background: #fff;
    width: 14px;
    height: 14px;
    background-origin: 1px solid #c4c4c4;
    border-radius: 1px;
    box-shadow: none;
    vertical-align: -1px;
    margin: 0 8px 0 0;  
}

.jq-checkbox.checked, .jq-radio.checked {
    background: #1c62cd;
    border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 6px;
    margin: 4px 0 0 3px;
    border-bottom: none;
    border-left: none;
    transform: rotate(0deg);
    background-image: url(../images/checked-icon.svg);
}

.jq-radio.checked .jq-radio__div {
    width: 0;
    height: 0;
    margin: 0;
    border-radius: 0;
    background: transparent;
    box-shadow: none; 
}

.aside-filter__content.aside-filter__content--radio {
    flex-wrap: nowrap;
}
.irs--flat{
    width: 100%;
    margin-top: -15px;
}


.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max {
    top: 55px;    
    padding: 0;
    color: #2f3035;
    font-family: 'SFProDisplay-Semibold', sans-serif; 
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    text-shadow: none;
    background-color: transparent;
    border-radius: 0;
    visibility: visible !important;
    padding-left: 27px;    
}

.irs-min::before,
.irs-max::before {
    position: absolute;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
    text-decoration: none;
    left: 0;
}

.irs-min::before {
    content: 'от';
}

.irs-max::before {
    content: 'до';
}
.irs--flat .irs-line {
    top: 25px;
    height: 1px;
    background-color: #e0e0e0;
    border-radius: 0;
}    

.irs--flat .irs-bar {
    top: 25px;
    height: 3px;
    background-color: #1c62cd;
}

.irs--flat .irs-handle {
    top: 22px;
    width: 8px;
    height: 8px;
    background-color: #1c62cd;
    border-radius: 50%;
} 

.irs--flat .irs-handle>i:first-child, .irs--flat .irs-handle>i:first-child, .irs--flat .irs-handle:hover>i:first-child, .irs--flat .irs-handle.state_ hover>i:first-child  {
    background-color: transparent;
}

.aside-filter__item-list {
    margin: 46px 0 40px;
}

.filter__item-list {
    padding-top: 34px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #c4c4c4;
}

.filter__item-listtitle {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 14px;
    line-height: 19px;
    padding-left: 26px;
}



.jq-selectbox__select {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494d;
    height: 20px;
    padding: 0 25px 0 10px;
    border: none;
    border-bottom-color: #B3B3B3;
    border-radius: 4px;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

.jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border: none;
}

.jq-selectbox__trigger {    
    top: 6px;
    right: 9px;
    
    border-left: none;    
    background-image: url(../images/arrow-down.svg);
    
    bottom: 5px;
    width: 12px;
    height: 8px;
}    

.jq-selectbox.focused .jq-selectbox__select {
    border: none;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active {
    background: transparent;
    box-shadow: none;
}

.jq-selectbox li:hover {
    background: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li.selected {
    background: rgba(107, 126, 172, 0.05);
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li {
    color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
    border-radius: 0;
   padding-top: 15px;
}

.filter-more {
     width: 100%;  
}

.filter-more__btn {
    font-size: 14px;
    line-height: 17px; 
    color: #1C62CD;
    border: none;
    border-bottom: 1px solid #1C62CD;
    background-color: transparent;
    padding: 0;
    
}

.filter-search {
    width: 100%;
    border: 1px solid #e0e0e0;
    height: 30px;
    padding: 0 20px;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    &::placeholder {
        font-size: 12px;
        line-height: 14px;
        color: #BDBEC2;

    }
}

.btn-checked .aside-filter__content {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.btn-checked .aside-filter__content-box {
    width: auto;
}

.btn-checked .aside-filter__content-label {
    position: relative;
    // background: #f0f0f0;
    height: 25px;
    width: 63px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: #C4C4C4;
}

.btn-checked .jq-checkbox {
    height: 25px;
    width: 63px;
    background: #f0f0f0;
    border: none;
}

.btn-checked .jq-checkbox.checked {
    background: #1c62cd;
    color: #fff;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div {
    display: none;
}

.btn-checked .jq-checkbox.checked ~ .btn-checked__text {
    color: #fff;    
}

.btn-checked__text {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-57%);
    z-index: 5;
}

.filter-btn__send {
    background: #F0F0F4;
    padding: 16px 85px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.12em;
    color: #BDBEC2;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
}

.filter-btn__send--active {
    background-color: #1c62cd;
    color: #fff;
}

.aside-filter__item-btn {
    text-align: center;
}

.filter__extra {
    font-size: 13px;
    line-height: 16px;
    position: relative;
    padding-right: 29px;
    display: inline-block;
    margin-bottom: 15px;
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 5px;
        background-image: url('../images/arrow-down.svg');
        width: 12px;
        height: 8px;
    }
}

.filter__extra-content {
    display: none;
}

.filter__extra.filter__item-drop--active::after { 
    transform: rotate(180deg);
}

.filter-btn_reset {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 13px;
    line-height: 16px;    
    display: inline-block;
    color: #C4C4C4;
    border-bottom: 1px solid #c4c4c4;
    cursor: pointer;
}

.catalog__filter-btn {
    display: flex;
    align-items: center;
}

.catalog__filter-btngrid {
    width: 26px;
    height: 21px;
}

.catalog__filter-btnline {
    width: 25px;
    height: 19px;
}

.catalog__filter-button {
    opacity: 0.3;
    outline: none;
    &--active {
        opacity: 1;
    }
}

.select-item {
    border: 1.5px solid #D7D9DF;  
    font-size: 14px;
    line-height: 17px;   
    margin-right: 34px;
    padding: 7px 10px 7px 20px;
}

.product-item__wrapper.product-item__wrapper--list {
    width: 100%;
}

.product-card {
    margin-bottom: 80px;
    &__inner {
        display: flex;
        justify-content: space-between;   
    }

    &__img-box {
        position: relative;
        width: 500px;
        padding-top: 64px;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        &::before {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.12em;
            padding: 13px 25px;
            border-radius: 3px;
        }
    }

   
    &__price-old {        
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
        color: #000;
        opacity: .6;
        display: inline-block;
        background-image: url('../images/old-line.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__price-new {        
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        color: #2F3035;
        margin-bottom: 17px;
    }

    &__link {
        font-size: 15px;
        line-height: 18px;       
        color: #1C62CD;
        border-bottom: 1px solid #1C62CD;
    }

    &__content {
        width: 570px;
    }

    &__title {
        font-family: 'SFProDisplay-Bold', sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #2F3035;
        margin-bottom: 10px;
    }

    &__code {
        font-size: 15px;
        line-height: 18px;
        color: #2F3035;
        opacity: 0.6;
        margin-bottom: 22px;
    }

    &__buttons {
        margin-bottom: 50px;
        a + a{
            margin-left: 30px;
        }
    }

   

    &__tab {
        font-size: 20px;
        line-height: 24px;
        color: #2F3035;
        opacity: 0.6;
        padding-bottom: 5px;  
        padding-right: 17px;
        margin-bottom: x;          
    }

    &__tab + .product-card__tab {
        padding-left: 17px;
    }

    &__tab.tab--active {
        font-family: 'SFProDisplay-Bold', sans-serif;
            opacity: 1;
            border-bottom: 2px solid #1c62cd;
            font-weight: 700;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__item {
        padding: 15px 0 6px;
        border-bottom: 1px solid rgba(47, 48, 53, .1);
        display: flex;
        justify-content: space-between;
      
    }

    &__item-left {
        padding-right: 15px;
    }

    &__item-right {
        width: 125px;
    }

    &__more {
        font-size: 14px;
        line-height: 17px;
        color: #1C62CD;
        border-bottom: 1px solid #1c62cd;
        margin-bottom: 40px;
     }

    &__btn button{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 16px 56px;
        background: #1C62CD;
        border-radius: 3px;
        border: none;
        cursor: pointer;
    }
}

.card {

    &__tabs {
        margin-bottom: 100px;
    }

    &__tab-box {
        background: #f0f0f0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 22px 0;
        margin-bottom: 50px;
    }

    &__tab {
        font-size: 20px;
        line-height: 24px;
        color: #2F3035;
        opacity: 0.6;
    }

    &__tab.tab--active{
        border-bottom: 1px solid #1C62CD;
        opacity: 1;
    }
    
    &__top-line {
        margin-bottom: 10px;
    }

    &__label-search {
        font-size: 17px;
        line-height: 20px;
        color: rgba(47, 48, 51, .7);
    }

    &__input-search {
        background: #f0f0f0;
        border-radius: 3px;
        margin-left: 17px;
        padding: 9px 37px 9px 17px;
        border: none;
        margin-right: 100px;
    }

    &__label-pickup {
        margin-left: 54px;
        font-size: 17px;
        line-height: 20px;
        color: rgba(47, 48, 51, .7);        
    }
 
    &__list-item {
        padding: 20px 0;
        border-bottom: 1px solid rgba(47, 48, 53, .1);
        display: flex;
        font-size: 16px;
        line-height: 22px;
        color: rgba(47, 48, 51, .7);          
    }

    &__list-itemtitle {
        color: rgba(47, 48, 51, 1);
        font-size: 20px;
        line-height: 24px;
    }

    &__list-address {
        width: 220px;
        margin-right: 80px;
    }
   
    &__list-workhours {
        width: 157px;
        margin-right: 96px;       
    }   

    &__list-avialable {
        width: 140px;
        margin-right: 60px;
    }   

    &__list-num {
        width: 104px;
    }    

    &__list-btn {
        margin-left: auto;
        button {
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.12em;
            color: #FFFFFF;
            padding: 9px 40px;
            background: #1C62CD;
            border-radius: 3px;
            width: 140px;
            height: 35px;
            border: none;
            text-transform: uppercase;
        }
    }      
}

.workhours {
    display: flex;
    justify-content: space-between;
}

.product-slider .slick-dots {
    bottom: -30px;
}

.product-slider .slick-dots button {
    background-color: #c4c4c4;
}

.product-slider .slick-dots .slick-active button {
    background: #1c62cd;
}

.aside__btn {
    display: none;
}

.product-card__btn-mobile {
    display: none;
}

.footer__topdrop {
    pointer-events: none;
}


@import 'base/media';